@import "@porsche-design-system/components-react";
@import "tailwindcss";
@import "@porsche-design-system/components-react/tailwindcss";
@import "./tokens/tokens.css";

/* PDS recommends hiding unregistered web components to avoid FOUC. */
:not(:defined) {
  visibility: hidden;
}

@layer base {
  html {
    font-family: var(--implode-font);
  }
  body {
    margin: 0;
  }
}
